<app-header
[placeholder]="placeholder"
(onSelectDatetime)="onChangeDateTime($event)"
(onClickViewMode)="changeViewMode($event)"
(onClickAddChart)="addGraph()"
(onClickSave)="save()"
></app-header>

<div class="row">
    <div class="col-3" style="margin-top: 10px;" *ngFor="let gInfo of plotInfo; index as i">
        <div class="card SecondaryBGColor">
            <div class="card-body">
                <div class="d-flex flex-row-reverse bd-highlight" style="margin-bottom: 5px;">
                    <div>
                        <fa-icon class="PrimaryColor" [icon]="deleteIcon" size="lg" (click)="deleteGraph(i)"></fa-icon>  
                    </div>
                    <div style="margin-right: 15px;">
                        <fa-icon class="PrimaryColor" [icon]="editIcon" size="lg" (click)="plotSettingModal(i)"></fa-icon>  
                    </div>
                </div>
                <plotly-plot
                [data]="gInfo.datasets" 
                [layout]="gInfo.layout"
                [config]="p_lib.config"
                [useResizeHandler]="true">
                </plotly-plot>
            </div>
        </div>
    </div>
</div>
