<div class="col-6" style="margin-top: 10px">
  <div class="card SecondaryBGColor" style="margin-top: 10px">
    <div class="card-body">
      <h4 class="textColor">Data Source</h4>
      <form>
        <div class="mb-3">
          <label for="hostInfo" class="form-label textColor">HostInfo</label>
          <input
            type="text"
            class="form-control"
            id="hostInfo"
            placeholder="localhost:8086"
          />
        </div>
        <div class="mb-3">
          <label for="dbname" class="form-label textColor">Database Name</label>
          <input type="password" class="form-control" id="dbname" />
        </div>
        <button type="submit" class="btn btn-dark">Save & test</button>
      </form>
    </div>
  </div>
</div>
<div class="col-6" style="margin-top: 10px">
  <div class="card SecondaryBGColor" style="margin-top: 10px">
    <div class="card-body">
      <h4 class="textColor">Upload Data</h4>
      <form>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Please upload excel file"
            readonly
            style="background-color: transparent"
            [value]="filename"
            (click)="fileExcel.click()"
          />
          <span class="input-group-text" style="background-color: transparent">
            <mat-icon style="font-size: 24px" (click)="fileExcel.click()"
              >upload_file</mat-icon
            >
          </span>
        </div>
        <div class="form-check textColor">
          <input
            #CreateNewDatabase
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            style="border-color: #c9cdce"
            (click)="onClickCreateNewDatabase(CreateNewDatabase.checked)"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Create New Database
          </label>
        </div>
        <br />
        <button
          type="submit"
          class="btn btn-dark"
          (click)="onClickWriteInflux()"
        >
          Write to influx
        </button>
      </form>
    </div>
  </div>
</div>

<input
  type="file"
  accept=".xlsx"
  style="visibility: hidden"
  (change)="onChangeExcelInput($event)"
  #fileExcel
/>
