
<div class="card" *ngFor="let data of datasets; index as i">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <select #tagSelect class="form-select" (change)="onSelectPlotTag(tagSelect.value, i)">
                    <option 
                    *ngFor="let tag of tagList"
                    [selected]="tag===plotInfo[i].tagList[0]">{{tag}}</option>
                </select>
            </div>
        </div>
        
        <plotly-plot 
        [data]="data" 
        [layout]="layout"
        [config]="config"
        [useResizeHandler]="true">
        </plotly-plot>
    </div>
  </div>


