
<div class="card" *ngFor="let gInfo of plotInfo; index as i">
    <div class="card-body">
        <div class="row">
            <div class="col-11">
                <fa-icon class="PrimaryColor" [icon]="settingIcon" size="2x" (click)="plotSettingModal(i)"></fa-icon>  
            </div>
            <div class="col-1">
                <fa-icon class="PrimaryColor" [icon]="deleteIcon" size="2x" (click)="deleteGraph(i)"></fa-icon>  
            </div>
        </div>

        <plotly-plot
        [data]="gInfo.datasets" 
        [layout]="layout"
        [config]="config"
        [useResizeHandler]="true">
        </plotly-plot>
    </div>
  </div>
  <br>
  <div class="mx-auto" style="width: 0px;">
    <fa-icon class="PrimaryColor" [icon]="plusIcon" size="2x" (click)="addGraph()"></fa-icon>
  </div>

