/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

.PrimaryColor {
    color: gray;
}

.SecondaryBGColor {
    background-color: rgb(24, 27, 31);
}

.modal-xl {
    max-width: 1800px;
}

body {
    background-color: rgb(17, 18, 23);
}

.textColor {
    color: #C9CDCE;
}

.mat-icon {
    font-size: 36px;
    color: gray;
  }